# EDA Speed Dating Notebook

## Exploration des donn√©es üîçÔ∏è

> **Informations sur la base de donn√©es**

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
# needed to work with local jupyterlab
pio.renderers.default = 'iframe'

In [2]:
df = pd.read_csv('speed_dating_data.csv')
df.head(20)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
5,1,1.0,0,1,1,1,10,7,NaN,6,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
6,1,1.0,0,1,1,1,10,7,NaN,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
7,1,1.0,0,1,1,1,10,7,NaN,2,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
8,1,1.0,0,1,1,1,10,7,NaN,8,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
9,1,1.0,0,1,1,1,10,7,NaN,9,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
10,2,2.0,0,3,1,1,10,3,NaN,10,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
11,2,2.0,0,3,1,1,10,3,NaN,9,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
12,2,2.0,0,3,1,1,10,3,NaN,6,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
13,2,2.0,0,3,1,1,10,3,NaN,1,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
14,2,2.0,0,3,1,1,10,3,NaN,3,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
15,2,2.0,0,3,1,1,10,3,NaN,2,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
16,2,2.0,0,3,1,1,10,3,NaN,7,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
17,2,2.0,0,3,1,1,10,3,NaN,8,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
18,2,2.0,0,3,1,1,10,3,NaN,4,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
19,2,2.0,0,3,1,1,10,3,NaN,5,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(8378, 195)

In [4]:
df.columns

Index(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position',
       'positin1', 'order',
       ...
       'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3',
       'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object', length=195)

In [5]:
df.describe(include="all")

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
count,8378.000000,8377.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,6532.000000,8378.000000,...,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,283.675937,8.960248,0.500597,17.327166,1.828837,11.350919,16.872046,9.042731,9.295775,8.927668,...,7.240312,8.093357,8.388777,7.658782,7.391545,6.810020,7.615079,7.932540,7.155258,7.048611
std,158.583367,5.491329,0.500029,10.940735,0.376673,5.995903,4.358458,5.514939,5.650199,5.477009,...,1.576596,1.610309,1.459094,1.744670,1.961417,1.507341,1.504551,1.340868,1.672787,1.717988
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,2.000000,4.000000,1.000000,1.000000
25%,154.000000,4.000000,0.000000,8.000000,2.000000,7.000000,14.000000,4.000000,4.000000,4.000000,...,7.000000,7.000000,8.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,6.000000
50%,281.000000,8.000000,1.000000,16.000000,2.000000,11.000000,18.000000,8.000000,9.000000,8.000000,...,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,7.000000,7.000000
75%,407.000000,13.000000,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,14.000000,13.000000,...,8.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,9.000000,8.000000,8.000000
max,552.000000,22.000000,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 195 entries, iid to amb5_3
dtypes: float64(174), int64(13), object(8)
memory usage: 12.5+ MB

In [7]:
df.corr

<bound method DataFrame.corr of       iid    id  gender  idg  condtn  wave  round  position  positin1  order  \
0       1   1.0       0    1       1     1     10         7       NaN      4
1       1   1.0       0    1       1     1     10         7       NaN      3
2       1   1.0       0    1       1     1     10         7       NaN     10
3       1   1.0       0    1       1     1     10         7       NaN      5
4       1   1.0       0    1       1     1     10         7       NaN      7
...   ...   ...     ...  ...     ...   ...    ...       ...       ...    ...
8373  552  22.0       1   44       2    21     22        14      10.0      5
8374  552  22.0       1   44       2    21     22        13      10.0      4
8375  552  22.0       1   44       2    21     22        19      10.0     10
8376  552  22.0       1   44       2    21     22         3      10.0     16
8377  552   NaN       1   44       2    21     22         2      10.0     15

      ...  attr3_3  sinc3_3  intel3_3  fun3_3  amb3_3  attr5_3  sinc5_3  \
0     ...      5.0      7.0       7.0     7.0     7.0      NaN      NaN
1     ...      5.0      7.0       7.0     7.0     7.0      NaN      NaN
2     ...      5.0      7.0       7.0     7.0     7.0      NaN      NaN
3     ...      5.0      7.0       7.0     7.0     7.0      NaN      NaN
4     ...      5.0      7.0       7.0     7.0     7.0      NaN      NaN
...   ...      ...      ...       ...     ...     ...      ...      ...
8373  ...      8.0      5.0       7.0     6.0     7.0      9.0      5.0
8374  ...      8.0      5.0       7.0     6.0     7.0      9.0      5.0
8375  ...      8.0      5.0       7.0     6.0     7.0      9.0      5.0
8376  ...      8.0      5.0       7.0     6.0     7.0      9.0      5.0
8377  ...      8.0      5.0       7.0     6.0     7.0      9.0      5.0

      intel5_3  fun5_3  amb5_3
0          NaN     NaN     NaN
1          NaN     NaN     NaN
2          NaN     NaN     NaN
3          NaN     NaN     NaN
4          NaN     NaN     NaN
...        ...     ...     ...
8373       9.0     5.0     6.0
8374       9.0     5.0     6.0
8375       9.0     5.0     6.0
8376       9.0     5.0     6.0
8377       9.0     5.0     6.0

[8378 rows x 195 columns]>

**R√©partition hommes/femmes**

In [8]:
# Average info for Gender
df['gender'].describe()
# Add descriptive column
df['gender_desc'] = df['gender'].apply(lambda x : 'female' 
                                                       if x == 0
                                                       else 'male')
# Change column position
df.insert(3, 'gender_desc', df.pop('gender_desc'))

df_gender = df.groupby(['gender_desc']).size().reset_index(name='gender_size')

fig = px.pie(df, names='gender_desc')
fig.show()

df_gender.head()

  gender_desc  gender_size
0      female         4184
1        male         4194

## Decryptage du tableau de donn√©es üìù

Voici les diff√©rents temps pr√©sent dans le tableau :
- le temps 1 est avant l'inscription √† l'evenement
- le temps 2 est le lendemain de la participation √† l'√©v√©nement
- le temps 3 est 3-4 semaines apr√®s avoir re√ßu leurs matchs

## Questions ‚öóÔ∏è

> **1. Quels sont les domaine m√©tiers des participants ?**

In [9]:
# Average info for professionnal domain
# df['field_cd'].describe()

def get_pro_domain(id):
    if id == 1:
        return 'Law'
    elif id == 2:
        return 'Math'
    elif id == 3:
        return 'Social Science, Psychologist'
    elif id == 4:
        return 'Medical Science, Pharmaceuticals, and Bio Tech'
    elif id == 5:
        return 'Engineering'
    elif id == 6:
        return 'English/Creative Writing/ Journalism'
    elif id == 7:
        return 'History/Religion/Philosophy'
    elif id == 8:
        return 'Business/Econ/Finance'
    elif id == 9:
        return 'Education, Academia'
    elif id == 10:
        return 'Biological Sciences/Chemistry/Physics'
    elif id == 11:
        return 'Social Work'
    elif id == 12:
        return 'Undergrad/undecided'
    elif id == 13:
        return 'Political Science/International Affairs'
    elif id == 14:
        return 'Film'
    elif id == 15:
        return 'Fine Arts/Arts Administration'
    elif id == 16:
        return 'Languages'
    elif id == 17:
        return 'Architecture'
    elif id == 18:
        return 'Other'
        
# Add descriptive column
df['field_cd_desc'] = df['field_cd'].apply(lambda x : get_pro_domain(x))

# Change column position
df.insert(36, 'field_cd_desc', df.pop('field_cd_desc'))

# Get size
df_field_cd = df.groupby(['field_cd_desc']).size().reset_index(name='field_cd_size')

# Sort values
df_field_cd = df_field_cd.sort_values(by='field_cd_size', ascending=False)

fig = px.bar(df_field_cd, x = "field_cd_desc", y = "field_cd_size")
fig.show()

> **2. Quels sont les attributs les moins souhaitables chez un partenaire masculin ? Ces caract√©ristiques sont-elles diff√©rentes pour les partenaires f√©minines ?**

Pour cette question je vais me fier aux notes d'attributs faites apr√®s chaque `date` (['attr', 'sinc', 'intel', 'fun', 'amb']) et aux notes faites le lendemain (r√©partir les 100 points entre ces six attributs de la mani√®re qui refl√®te le mieux l'importance r√©elle de ces attributs dans vos d√©cisions) du `date` (['attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2']).

In [10]:
# Attributes

attributes_arr = ['attr', 'sinc', 'intel', 'fun', 'amb']
df_attributes = df.groupby('gender_desc')[attributes_arr].mean()
display(df_attributes)

# Check remplisage des colonnes attributs
df_attr_all = df[attributes_arr]
desc_attr_all = df_attr_all.describe(include="all")
display(desc_attr_all)

                 attr      sinc     intel       fun       amb
gender_desc
female       5.919300  7.099778  7.447362  6.280555  6.952773
male         6.460029  7.250680  7.289988  6.519866  6.603278

              attr         sinc        intel          fun          amb
count  8176.000000  8101.000000  8082.000000  8028.000000  7666.000000
mean      6.189995     7.175164     7.368597     6.400598     6.777524
std       1.950169     1.740315     1.550453     1.953702     1.794055
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       5.000000     6.000000     6.000000     5.000000     6.000000
50%       6.000000     7.000000     7.000000     7.000000     7.000000
75%       8.000000     8.000000     8.000000     8.000000     8.000000
max      10.000000    10.000000    10.000000    10.000000    10.000000

**Temps 1 :** 

observation des points que les candidats mettent en avant au moment de l'inscription √† l'√©v√©nement. Il s'agit de 100 points √† r√©partir sur les diff√©rents attributs en mettant le plus de point √† ce qui importe le plus.

In [30]:
df_time1_attr = (
    df[["gender", "attr1_1", "sinc1_1", "intel1_1", "fun1_1", "amb1_1", "shar1_1"]]
    .groupby(["gender"])
    .sum()
    .reset_index()
)
df_time1_attr

   gender    attr1_1   sinc1_1  intel1_1    fun1_1    amb1_1   shar1_1
0       0   74477.80  75508.16  86635.32  70732.58  52912.29  52125.31
1       1  112371.13  68864.47  81549.00  73968.85  35528.45  45679.77

In [31]:
# List des donn√©es que je veux afficher dans mon dataframe de r√©sultat
attributes_time1_display = ["attr1_1", "sinc1_1", "intel1_1", "fun1_1", "amb1_1", "shar1_1"]

fig = make_subplots(
    rows=1, 
    cols=1, 
    subplot_titles=("Notes moyennes des femmes", "Notes moyennes des hommes")
)

# Ajouter les barres pour les femmes (note apr√®s le date)
fig.add_trace(
    go.Bar(
        x=attributes_time1_display,
        y=df_time1_attr[df_time1_attr['gender'] == 0][attributes_time1_display].values.flatten(),
        name='Points des femmes - temps 1',
        marker_color='lightpink'
    ),
    row=1,
    col=1
)

# Ajouter les barres pour les hommes (note apr√®s le date)
fig.add_trace(
    go.Bar(
        x=attributes_time1_display,
        y=df_time1_attr[df_time1_attr['gender'] == 1][attributes_time1_display].values.flatten(),
        name='Points des homme - temps 1',
        marker_color='lightblue'
    ),
    row=1,
    col=1
)


# Mettre √† jour la disposition
fig.update_layout(
    title = go.layout.Title(text = "Somme des points par attribut et par genre", x = 0.5),
    xaxis_title='Attributs',
    yaxis_title='Valeur moyenne',
    barmode='group',  # Les barres seront group√©es c√¥te √† c√¥te
)

# Afficher la figure
fig.show()

Nous pouvons voir que pour les hommes l'attravit√© de la partenaire est un point tr√®s important.
Les femmes recherchent plus des hommes intelligents.
En tout cas les int√©r√™ts communs ne sont pas ce qui est le plus recherch√© par les deux sexes, certainenent car le motif des rencontres n'est pas de trouver une relation s√©rieuse mais plus de s'amuser.

**Apr√®s chaque `date`  :**

observation des notes sur 10 que les candidats mettent apr√®s chaque rendez-vous avec un autre candidat.

In [23]:
# Attributs s√©lectionn√©s dans le dataframe
attributes_arr = ['id', 'gender', 'partner', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'attr_o', 'like', 'prob', 'met', 'match', 'dec_o', 'age', 'age_o', 'race', 'race_o']

# Cr√©ation d'un dataframe et nettoyage des valeurs nulles pour les attributs qui nous int√©ressent
df_attr = df[attributes_arr]
# Supprimer les lignes o√π il y a des valeurs nulles dans les colonnes sp√©cifiques
df_attr = df_attr.dropna(subset=['attr', 'sinc', 'intel', 'fun', 'amb', 'shar'])

# List des donn√©es que je veux afficher dans mon dataframe de r√©sultat
attributes_arr_display = ['attr', 'sinc', 'intel', 'fun', 'amb', 'shar']

# Dataframe o√π le match est r√©ussi
df_match_ok = df[attributes_arr]
df_match_ok = df_match_ok.loc[df_match_ok['match'] == 1]
df_match_ok = df_match_ok.groupby('gender')[attributes_arr_display].mean().reset_index()

# Calculer les moyennes des attributs en fonction du genre
df_attr = df_attr.groupby('gender')[attributes_arr_display].mean().reset_index()

print()
print('Moyenne des attributs des notes donn√©es apr√®s le date')
display(df_attr)
print()
print('Moyenne des attributs des notes donn√©es apr√®s le date et o√π un match s\'est fait')
display(df_match_ok)
char_male = df_match_ok.T.iloc[1:, 0].reset_index()
char_male.columns = ['caracteristiques femmes', 'moyenne']
char_male.sort_values(by='moyenne')
display(char_male)
print()
char_female = df_match_ok.T.iloc[1:, 1].reset_index()
char_female.columns = ['caracteristiques hommes', 'moyenne']
char_female.sort_values(by='moyenne')
display(char_female)
print()


fig = make_subplots(
    rows=1, 
    cols=2, 
    subplot_titles=("Notes moyennes des femmes", "Notes moyennes des hommes")
)

# Ajouter les barres pour les femmes (note apr√®s le date)
fig.add_trace(
    go.Bar(
        x=attributes_arr_display,
        y=df_attr[df_attr['gender'] == 0][attributes_arr_display].values.flatten(),
        name='Note des femmes le jour j',
        marker_color='lightpink'
    ),
    row=1,
    col=1
)

# Ajouter les barres pour les hommes (note apr√®s le date)
fig.add_trace(
    go.Bar(
        x=attributes_arr_display,
        y=df_attr[df_attr['gender'] == 1][attributes_arr_display].values.flatten(),
        name='Note des homme le jour j',
        marker_color='lightblue'
    ),
    row=1,
    col=2
)

# Ajouter les barres pour les femmes (note le lendemain du date)
fig.add_trace(
    go.Bar(
        x=attributes_arr_display,
        y=df_match_ok[df_match_ok['gender'] == 0][attributes_arr_display].values.flatten(),
        name='Note des femmes avec match',
        marker_color='violet'
    ),
    row=1,
    col=1
)

# Ajouter les barres pour les hommes (note le lendemain du date)
fig.add_trace(
    go.Bar(
        x=attributes_arr_display,
        y=df_match_ok[df_match_ok['gender'] == 1][attributes_arr_display].values.flatten(),
        name='Note des hommes avec match',
        marker_color='blue'
    ),
    row=1,
    col=2
)

# Mettre √† jour la disposition
fig.update_layout(
    title = go.layout.Title(text = "Moyenne des notes par attribut et par genre", x = 0.5),
    xaxis_title='Attributs',
    yaxis_title='Valeur moyenne',
    barmode='group',  # Les barres seront group√©es c√¥te √† c√¥te
)

# Afficher la figure
fig.show()

Moyenne des attributs des notes donn√©es apr√®s le date

   gender      attr      sinc     intel       fun       amb      shar
0       0  5.934770  7.092132  7.449812  6.284495  6.940845  5.396442
1       1  6.443734  7.233743  7.267653  6.508931  6.585264  5.527770

Moyenne des attributs des notes donn√©es apr√®s le date et o√π un match s'est fait

   gender      attr      sinc     intel       fun       amb      shar
0       0  7.118459  7.820700  8.075073  7.644217  7.485271  6.854167
1       1  7.520319  7.798246  7.825292  7.552786  7.183409  6.654874

  caracteristiques femmes   moyenne
0                    attr  7.118459
1                    sinc  7.820700
2                   intel  8.075073
3                     fun  7.644217
4                     amb  7.485271
5                    shar  6.854167

  caracteristiques hommes   moyenne
0                    attr  7.520319
1                    sinc  7.798246
2                   intel  7.825292
3                     fun  7.552786
4                     amb  7.183409
5                    shar  6.654874

`L√©gende`:

Attributs √† noter apr√®s chaque `date` :
- attr = attractivit√©
- sinc = scinc√©rit√©s
- intel = intelligence
- fun = amusant
- amb = ambitieux
- shar = partage de centres d'int√©rets et hobbies

**R√©ponse:**

Finalement l'attractivit√© et les hobbies partag√©s ne sont les attributs que les femmes pr√©f√®rent et permettant de dire qu'il y aura un match.
Chez les hommes c'est aussi les les hobbies partag√©s et l'ambition qui m√®nent le moins vers un match.

**Attention: comme indiqu√© dans le document les candidats sont surtout l√† pour s'amuser, peu de candidats sont l√† pour une relation s√©rieuse, il viennent tester le speed dating**

> **3. Quelle est l'importance de l'attrait dans la s√©lection d'un partenaire potentiel par rapport √† son impact r√©el ?**

`L√©gende`:

Attributs √† noter apr√®s chaque `date` :
- attr = attractivit√©
- sinc = scinc√©rit√©s
- intel = intelligence
- fun = amusant
- amb = ambitieux
- shar = partage de centres d'int√©rets et hobbies

Autres Attributs :
- like = comment aimez vous cette personne ?
- prob = quelle probabilit√© pensez-vous que l'autre personne dise oui pour vous ?
- met = avez-vous d√©j√† rencontr√© l'autre personne ?
- attr_o = note par partenaire le soir de l'√©v√©nement, pour les 6 attributs
- dec_o = d√©cison du partenaire
- match = est ce que le rdv a match√© ?

In [12]:
# Selection des lignes o√π match == 1 et des colonnes 'match', 'attr', 'gender'
attributes_arr = ['id', 'gender', 'partner', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'attr_o', 'like', 'prob', 'met', 'match', 'dec_o', 'age', 'age_o', 'race', 'race_o']
df_attr = df[attributes_arr]

df_attr_match_ok = df_attr.loc[df_attr['match'] == 1, ['match', 'attr', 'gender']]

df_attr_match_ok_male = df_attr_match_ok.loc[df_attr_match_ok['gender'] == 1, :]
df_attr_match_ok_female = df_attr_match_ok.loc[df_attr_match_ok['gender'] == 0, :]

fig = go.Figure()

fig = make_subplots(rows = 1, cols = 2, subplot_titles = ("Moyenne de la note attractivit√© donn√©e par les femmes", "Moyenne de la note attractivit√© donn√©e par les hommes"))

fig.add_trace(
    go.Histogram(
        x=df_attr_match_ok_female["attr"],
        marker_color='pink'
    ),
    row=1,
    col=1
)

fig.add_trace(
    go.Histogram(
        x=df_attr_match_ok_male["attr"],
        marker_color='blue'
    ),
    row=1,
    col=2
)

# Mise √† jour de la disposition
fig.update_layout(
    title=go.layout.Title(text="Moyenne de la note attractivit√©" , x=0.5),
    showlegend=False
)

In [13]:
# D√©finir pour chaque note li√©e √† l'attrait quelle est le pourcentage de match
# Attributes
attributes_arr = ['id', 'gender', 'partner', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'attr_o', 'like', 'prob', 'met', 'match', 'dec_o', 'age', 'age_o', 'race', 'race_o']

df_attr = df[attributes_arr]

# R√©cup√©rer la liste des valeurs uniques et non nulles de la colonne 'attr'
notes = df['attr'].dropna().unique()

# Convertir en liste et trier les valeurs
notes = sorted(notes.tolist())

# Filtrer les donn√©es en fonction de 'match'
df_match_fail = df_attr.loc[df_attr['match'] == 0]
df_match_ok = df_attr.loc[df_attr['match'] == 1]

df_match_ok_male = df_match_ok.loc[df_match_ok['gender'] == 1]
df_match_ok_female = df_match_ok.loc[df_match_ok['gender'] == 0]

df_match_fail_male = df_match_fail.loc[df_match_fail['gender'] == 1]
df_match_fail_female = df_match_fail.loc[df_match_fail['gender'] == 1]

# Cr√©er la figure
fig = go.Figure()

# Cr√©er un subplots pour permettre de mettre plusieurs visuels c√¥te √† c√¥te
fig = make_subplots(
    rows = 3, 
    cols = 2,
)

# Ajouter les histogrammes
fig.add_trace(
    go.Histogram(
        x=df_match_fail['attr'],
        name='Echec',
        marker_color='yellow',
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=1,
    col=1
)

fig.add_trace(
    go.Histogram(
        x=df_match_ok['attr'],
        name='R√©ussi',
        marker_color='blue',
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=1,
    col=1
)

fig.add_trace(
    go.Box(
        x=df_match_fail['attr'],
        name='Echec',
        marker_color='yellow',
        showlegend=False 
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=1,
    col=2
)

fig.add_trace(
    go.Box(
        x=df_match_ok['attr'],
        name='R√©ussi',
        marker_color='blue',
        showlegend=False 
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=1,
    col=2
)

fig.add_trace(
    go.Box(
        x=df_match_ok_female['attr'],
        name='R√©ussi femmes',
        marker_color='green',
        showlegend=False 
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=2,
    col=1
)

fig.add_trace(
    go.Box(
        x=df_match_fail_female['attr'],
        name='Echec femmes',
        marker_color='red',
        showlegend=False
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=2,
    col=2
)

fig.add_trace(
    go.Box(
        x=df_match_ok_male['attr'],
        name='R√©ussi hommes',
        marker_color='green',
        showlegend=False
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=3,
    col=1
)

fig.add_trace(
    go.Box(
        x=df_match_fail_male['attr'],
        name='Echec hommes',
        marker_color='red',
        showlegend=False
        # nbinsx=20  # Ajustez ce nombre pour modifier la largeur des barres
    ),
    row=3,
    col=2
)

fig.update_layout(
    title = go.layout.Title(text = "Nombre de match par rapport √† la note ", x = 0.5),
    autosize=True,
    barmode='overlay',  # Superposer les barres
    xaxis_title="Note moyenne des attributs", 
    yaxis_title="Nombre de notes",
    margin=dict(l=20, r=20, t=50, b=50)  # Marges de la figure
)

# Mettre √† jour les barres pour √™tre un peu transparentes afin de mieux visualiser les superpositions
fig.update_traces(opacity=0.75)

fig.show(config={'responsive': True})

**R√©ponse:**

Nous pouvons voir que le taux de r√©ussite √† un `date` est li√© √† une note comprise entre 6 et 8 et l'√©chec √† une note entre 5 et 7. 

Il est donc difficile de faire une relation entre la note attractivit√© et le match pour un `date`.

Nous pouvons voir aussi que les femmes notes majoritairement leurs futurs match avec des notes entre 6 et 8 et les hommes avec des notes entre 7 et 8.

> **4. Les int√©r√™ts communs sont-ils plus importants que les origines raciales communes ?**

In [14]:
attributes_arr = ['iid', 'gender', 'shar', 'shar_o']

dic_races = {
    1: 'Black/African American',
    2: 'European/Caucasian-American',
    3: 'Latino/Hispanic American',
    4: 'Asian/Pacific Islander/Asian-American',
    5: 'Native American',
    6: 'Other',
}

df_mean_by_shar = df.groupby('shar')[['dec', 'dec_o', 'match']].mean().reset_index()
df_mean_by_race = df.groupby('samerace')[['dec', 'dec_o', 'match']].mean().reset_index()

# Afficher les tableaux
display(df_mean_by_shar)
display(df_mean_by_race)

    shar       dec     dec_o     match
0    0.0  0.186441  0.423729  0.050847
1    1.0  0.062762  0.456067  0.025105
2    2.0  0.129897  0.414433  0.055670
3    3.0  0.168367  0.403061  0.052721
4    4.0  0.234994  0.399745  0.062580
5    5.0  0.391126  0.380205  0.117406
6    5.5  1.000000  0.000000  0.000000
7    6.0  0.472756  0.453526  0.185096
8    6.5  0.500000  1.000000  0.500000
9    7.0  0.613913  0.439130  0.259130
10   7.5  0.750000  0.500000  0.250000
11   8.0  0.688716  0.479896  0.313878
12   8.5  1.000000  0.500000  0.500000
13   9.0  0.735016  0.488959  0.347003
14  10.0  0.786802  0.593909  0.446701

   samerace       dec     dec_o     match
0         0  0.410707  0.410115  0.160806
1         1  0.433957  0.433957  0.170688

In [15]:
# Visualisation des donn√©es
fig_shar = px.scatter(df_mean_by_shar, x="shar", y="match", trendline = "ols", color='match')
# D√©finir la plage de l'axe y de 0 √† 1
fig_shar.update_yaxes(range=[0, 1])
# Renommer les l√©gendes des axes
fig_shar.update_layout(
    xaxis_title="Int√©r√™ts Communs",
    yaxis_title="Taux de Match",
    title="Matchs en fonction des Int√©r√™ts Communs"
)
fig_shar.show()

ModuleNotFoundError: No module named 'statsmodels'

In [ ]:
fig_race = px.scatter(df_mean_by_race, x="samerace", y="match", trendline = "ols", color='match')
# D√©finir la plage de l'axe y de 0 √† 1
fig_race.update_yaxes(range=[0, 1])
fig_race.update_layout(
    xaxis_title="Origines Raciales Communes (samerace)",
    yaxis_title="Taux de Match",
    title="Matchs en fonction des Origines Raciales Communes"
)
fig_race.show()

Nous pouvons voir que les matchs ne sont pas vraiment corr√©l√© √† l'origine raciale et que les int√©r√™ts communs vont plus jou√©s sur le choix final.

> **5. Les gens peuvent-ils pr√©dire avec pr√©cision la valeur qu'ils per√ßoivent sur le march√© des rencontres ?**

Pour cette statistique j evais me fier sur 2 donn√©es :

3_1 : √©valuer votre opinion sur vos propres qualit√©s, sur une √©chelle de 1 √† 10 au temps 1, juste apr√®s le date
et 
3_2 : √©valuer votre opinion sur vos propres qualit√©s, sur une √©chelle de 1 √† 10, au temps 2, le lendemain du date

rappel :
le temps 1 est avant l'inscription √† l'evenement
le temps 2 est le lendemain de la participation √† l'√©v√©nement
le temps 3 est 3-4 semaines apr√®s avoir re√ßu leurs matchs

In [ ]:
# V√©rification que les colonnes sont remplis et qu'on peut s'y fier
is_ok1 = df['attr3_1'].isnull().value_counts(normalize=True)
is_ok2 = df['attr3_2'].isnull().value_counts(normalize=True)
is_ok3 = df['attr3_3'].isnull().value_counts(normalize=True)

display(is_ok1)
display(is_ok2)
display(is_ok3)

Plus le temps avance moins les candidats r√©pondent aux questionnaire.

In [ ]:
# combien de correspondances estimez-vous obtenir (une correspondance se produit lorsque vous et votre partenaire cochez ¬´ Oui ¬ª √† c√¥t√© de la d√©cision)
df['match_es'].value_counts().sort_values()
df['match_es'].isnull().value_counts(normalize=True)

Nous allons voir maintenant comment les candidtas se percoivent et le nombre de d√©cisions positives qu'il recoivent.

Pour cela nous allons utiliser les attributs 3 (comment je me percois) pour le temps 2 qui parait le plus pertinent.

En effet le temps 1 est potentielment un peu trop √† froid et le temps 3 et trop longtemps apr√®s et beaucoup de candidats n'ont pas rempli cette donn√©e.

Attention les partenaires ne sont pas forc√©ment sur la recherche de m√™mes choses et donc le test est peut etre biais√©

In [ ]:
df_partner_attr = df.groupby('iid')[['attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2']].mean().reset_index()
df_partner_attr['attr_mean'] = df_partner_attr.iloc[:, 1:].mean(skipna=True, axis=1)
df_partner_dec = df[['iid', 'dec_o']].groupby('iid').mean()
df_partner_dec = df_partner_attr.merge(df_partner_dec, on='iid')
df_result = df_partner_dec
display(df_partner_dec)

In [ ]:
# Correlation
corr = df_partner_dec['attr_mean'].corr(df_partner_dec['dec_o']) * 100

print("La corr√©lation entre la moyenne des attributs que se donnent les candidats et le nombre de d√©cisions positives du partenaire est de {}%".format(corr.round(2)))

> **6. Pour obtenir un deuxi√®me rendez-vous, vaut-il mieux √™tre le premier speed date de la soir√©e ou le dernier ?**

In [ ]:
contingence = pd.crosstab(df['order'], df['match'])
contingence.columns = ['match_fail', 'match_ok']
contingence

In [ ]:
df_contingence_ok = contingence['match_ok']
fig = px.scatter(df_contingence_ok, trendline = "ols")
fig.show()

Ce graphique montre bien qu'il y a corr√©lation entre l'ordre de passage et le nombre de match.
Plus nous avancons dans les dates moins nous matchons.

Probablement du fait que les candidats ont plus de r√©f√©rences et que les candidats savent de plus en plus ce qu'il recherche.

Nous allons tester l'utilisation de chi2_contingence pour voir si deux groupes (match et order) ont la m√™me distribution.

- **Hypoth√®se :**

L'ordre de passage n'a pas d'influence sur le match.

In [ ]:
from scipy.stats import chi2_contingency
res = chi2_contingency(contingence)
print(res.pvalue)

***Comment calculer et interpr√©ter la valeur de p ?***

La valeur de p est souvent utilis√©e dans les tests d'hypoth√®ses, tests qui vous permettent de rejeter, ou non, une hypoth√®se nulle. Elle repr√©sente la probabilit√© de faire une erreur de type 1, ou de rejeter l'hypoth√®se nulle si elle est vraie.

Plus la valeur de p est petite, plus la probabilit√© de faire une erreur en rejetant l'hypoth√®se nulle est faible. Une valeur limite de 0,05 est souvent utilis√©e. Autrement dit, vous pouvez rejeter l'hypoth√®se nulle si la valeur de p est inf√©rieure √† 0,05.

****Conclusion****

La valeur est inf√©rieur √† 5%, nous pouvons rejeter l'hypoth√®se.

## Conlusion üéâ

TODO